extends layout

block content
  h1= title
  form(action="/p/new", method="post")
    laber(for="nombre") Nombre:
    input#name(type="text", name="nombre")
    br
    label(for="age") Edad:
    input#age(type="text", name="age")
    br
    input(type="submit", value="Guardar" )
